.DS_Store
*.vs
*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
Plugin/iPlug2_Project/build-*
Plugin/iPlug2_Project/ipch/*
Plugin/iPlug2_Project/gui/*

Icon?
.DS_Stor*
Plugin/NNComp/build-mac.log
Plugin/NNComp/build-mac/XCBuildData/a4a3e2c5a6b52be7831ec096f7425668-manifest.xcbuild
Plugin/NNComp/build-mac/XCBuildData/BuildDescriptionCacheIndex-edb1712b51940494ead05f8e60a6b223
Plugin/NNComp/installer/NNComp.iss
Plugin/NNComp/installer/NNComp.pkgproj
Plugin/NNComp/installer/NNComp.pkgproj
